@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/LiberationMono.woff2") format("woff2"),
    url("fonts/LiberationMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeekdocIcons";
  src: url("fonts/GeekdocIcons.woff2") format("woff2"),
    url("fonts/GeekdocIcons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_UI";
  src: url("fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_UI";
  src: url("fonts/Inter-UI-Italic.woff2") format("woff2"),
    url("fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter_UI";
  src: url("fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("fonts/Inter-UI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_UI";
  src: url("fonts/Inter-UI-Bold.woff2") format("woff2"),
    url("fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter_UI", sans-serif;
}

code,
.gdoc-error__title {
  font-family: "Liberation Mono", monospace;
}
