/* -------------- CONFIG -------------- */

:root {
  --primary: #45D492;
  --secondary: #1597DD; // PART blue
  --tertiary: #5949A7; // PART purple

  --alert: #FF542C; // reds
  --warning: #FFCE00; // oranges :)
  --info: #2183EF;
  --success: var(--primary);

  --text: #212121;
  --text-muted: #757575;

  --bg: #fff;
  --bg-muted: #e8e8e8;
}

@mixin break-from($size) {
  // Usage: @include break-from(741px) {  }
  @media only screen and (min-width: $size) { @content; }
}


/* -------------- LAYOUT -------------- */

.container {
  max-width: 75rem;
}

.gdoc-brand {
  font-size: 1.45rem;
}

// Fix icon margins
.gdoc-nav__list .icon { margin-right: 0.45rem; top: 0.05em } // sidebar > more
.gdoc-page__header .icon {
  &.path { margin-right: 0.5rem; } // breadcrumbs
  &.code { margin-right: 0.2rem; } // edit page
}

// Related articles
.related-articles {
  .gdoc-expand__head {
    padding: 1rem;
    .title {
      font-size: 1.1rem;
    }
    .ico {
      color: var(--text-muted);
      font-weight: 300;
    }
  }
  .gdoc-expand__content {
    padding: 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      display: block;
      padding: 0.8rem 1rem;
      border-top: 1px solid #e9ecef;
      &:hover,
      &:focus {
        text-decoration: none;
        background: #fafafa;
      }
    }
  }
  .title {
    font-weight: 500;
  }
  small {
    color: var(--text-muted);
    line-height: 1.4;
    display: block;
    margin-top: 0.2rem;
  }
}

.meta {
  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
    .gdoc-button {
      margin-right: 0.6rem;
    }
  }
}

/* -------------- TYPOGRAPHY -------------- */

html {
  letter-spacing: .2px;
}

.gdoc-markdown {
  & > :first-child {
    margin-top: 2rem;
  }
  h1 {
    font-weight: 600;
  }
  h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  p {
    color: var(--text-muted);
  }
  ul,
  ol {
    color: var(--text-muted);
  }
  b, strong {
    color: var(--text);
  }
  kbd {
    border: 1px solid #ccc;
    font-size: 0.85em;
    padding: 0.1em 0.4em;
    border-radius: 3px;
    border-bottom-width: 2px;
    background: #fafafa;
  }
  // Icons (via Shortcodes)
  .icon {
    position: relative;
    top: -0.05em;
    margin: 0 0.15em;
  }
  // Labels (Shortcode)
  label {
    &[type] {
      background: grey;
      color: white;
      font-size: 0.8em;
      padding: 0.2em 0.5em;
      border-radius: 5px;
      font-weight: 500;
      &[type="primary"] {
        background: var(--primary);
      }
      &[type="warning"] {
        background: var(--warning);
      }
      &[type="alert"] {
        background: var(--alert);
      }
      &[type="info"] {
        background: var(--info);
      }
    }
  }
  .meta { // last updated + list of tags
    margin: 2.5rem 0;
    .updated {
      margin: 0;
    }
    .icon {
      margin-right: 0.5em;
      &.tags {
        top: 0.1em;
      }
    }
  }
}

.lead {
  font-size: 1.2em;
}


/* -------------- SHORTCODES -------------- */

// Tree-TOC
.gdoc-toc {
  span.tag {
    text-transform: uppercase;
    color: var(--text-muted);
    font-size: 0.7em;
    line-height: 1;
    border: 1px solid #979797;
    padding: 1px 0.3rem;
    border-radius: 4px;
    margin-left: 0.4rem;
    position: relative;
    top: -1px;
  }
  small {
    display: block;
    line-height: 1.6em;
    margin-bottom: 1em;
  }
}

// Buttons
.gdoc-button {
  border-radius: 0.25rem;
  .gdoc-button__link {
    padding: 0.65rem 1rem;
    &.--smaller {
      padding: 0.25rem 0.6rem;
      font-size: 0.9em;
    }
  }
  &.--full-width {
    width: 100%;
  }
  &.--huge { // Huge buttons on homepage (for sections)
    border: 0;
    @include break-from(700px) { margin: 0.5rem 0; }
    &:hover,
    &:focus {
      background: transparent;
      color: var(--text);
    }
    a.gdoc-button__link {
      padding: 1.5rem 1.2rem 0.3rem;
      border: 2px solid var(--bg-muted);
      transition: all 0.15s;
      display: block;
      &:hover,
      &:focus {
        border-color: transparent;
        box-shadow: 0 1px 13px var(--bg-muted);
        .icon {
          transition: all 0.15s;
          &.learn { fill: var(--secondary); }
          &.tutorials { fill: var(--primary); }
          &.support { fill: var(--alert); }
          &.dev { fill: var(--tertiary); }
        }
      }
    }
    .icon {
      display: inline-block;
      font-size: 2rem;
      margin: 0;
    }
    .title {
      font-weight: 600;
      display: block;
      margin: 0.7rem 0;
    }
    p.desc {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
}


/* -------------- IMAGES & VIDEOS -------------- */

figure {
  --radius: 6px;
  margin: 2rem 0;
  &.side-thumb {
    width: 250px;
    float: right;
    margin: 0 0 2rem 2rem;
  }
  img,
  video {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
  }
  video {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em 1em 1em;
    color: grey;
    line-height: 1.4;
    background: #fafafa;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }
}


/* -------------- MISC. -------------- */

// Todo
.todo {
  border: 2px dashed silver;
  background: #c0c0c014;
  padding: 3em 2em;
  text-align: center;
  margin: 2em 0;
  color: gray;
}
