{{ define "main" }}

    {{ partial "page-header" . }}

    <article class="gdoc-markdown">

        <h1>{{ partial "title" . }}</h1>

        {{ with .Params.subtitle }}
        <p class="lead">{{ . }}</p>
        {{ end }}
        
        {{ partial "content" . }}

        <div class="meta">
            <p class="updated">
                <svg class="icon date"><use xlink:href="#date"></use></svg>
                Updated
                <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Lastmod.Format "January 2, 2006" }}
                </time>
            </p>
            {{ with .Params.tags }}
            <ul class="tags">
                <li><svg class="icon tags"><use xlink:href="#tags"></use></svg></li>
                {{ range . }}
                <li>
                    <span class="gdoc-button">
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="gdoc-button__link --smaller">
                            {{- . -}}
                        </a>
                    </span>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div><!-- .meta -->

    </article>

    {{- partial "menu-contextual.html" . -}}    

{{ end }}
